
body{
font-family:Poppins;
margin:0;
background:#0f172a;
color:white;
}

.navbar{
display:flex;
justify-content:space-between;
padding:20px 10%;
background:#020617;
}

.navbar a{
color:white;
margin-left:20px;
text-decoration:none;
}

.hero{
display:flex;
align-items:center;
justify-content:space-between;
padding:80px 10%;
flex-wrap:wrap;
}

.hero h1{
font-size:48px;
color:#f97316;
}

.hero h2{
color:#60a5fa;
}

.hero img{
width:350px;
max-width:100%;
}

.stats{
display:flex;
gap:40px;
margin-top:30px;
flex-wrap:wrap;
}

.section{
padding:80px 10%;
}

.section h2{
font-size:32px;
margin-bottom:30px;
color:#f97316;
}

.about-text{
max-width:800px;
line-height:1.7;
}

.timeline{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:30px;
}

.timeline-item{
background:#1e293b;
padding:20px;
border-radius:10px;
}

.project-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:30px;
}

.project-card{
background:#1e293b;
padding:20px;
border-radius:10px;
}

.project-card img{
width:30px;
margin-right:10px;
}

.links{
margin-top:10px;
}

footer{
text-align:center;
padding:30px;
background:#020617;
margin-top:40px;
}
